#main {
    background-color: rgb(255, 242, 176);
    height: 100vh;
}

/* form {
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */


#contactForm {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* button, .boton {
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* button:hover {
    background-color: #45a049;
} */

#headerLandin{
    height: 70vh;
    flex-direction: column;
}



#bodyLandin{
    background-color: rgb(231, 226 ,202);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


#contact{
    background-color: rgba(160,133,88,255);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: flex;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.9); 
}

.spanmain{
    color: #e84134;
    display: block;
    font-family: Montserrat,sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin: auto;
}

.buscar{
    background-color: #e84134;
    border: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 11px 19px;
    text-transform: uppercase;
}

#titulo{
    width: 50%;
    margin-left: 265px;
}

.subtituloCarrusel{
    width: 20%;
    margin-left: 375px;

}
.subtitulo{
    color: #fff;
    display: block;
    font-family: Lato,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 27px;
}

#botonEncontrar{
    width: 80%;
}
#botonPaises{
    height: 41px;
    margin-bottom: 3px;
    padding-top: 12px;
}

#carrusel{
    
    height: 100vh;
}

.fotoCarrusel{
    max-height: 600;
    min-height: 600;
}

.footer-block {
    margin-bottom: 20px; /* Espacio entre bloques */
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px; /* Espacio entre título y lista */
}

.footer-list {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el padding predeterminado de la lista */
}

.footer-list__li {
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
}

.footer-li {
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
}

.flechaCarrusel{
    background-color: black;
    padding: 40px;
    border-radius: 90px;
}

#fotos{
    z-index: 1;
    margin-bottom: 100px;
}


