#main {
    background-color: rgb(255, 242, 176);
    height: 100vh;
}

h1 {
    color: #45a049;
}

form {
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* button, .boton {
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

button:hover {
    background-color: #45a049;
}

#headerLandin{
    height: 70vh;
    flex-direction: column;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.9); 
}

#spanmain{
    color: #e84134;
    display: block;
    font-family: Montserrat,sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    margin: auto;
    max-width: 880px;
}

.buscar{
    background-color: #e84134;
    border: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 11px 19px;
    text-transform: uppercase;
}

#subtitulo{
    color: #fff;
    display: block;
    font-family: Lato,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 27px;
}
